<a href="https://colab.research.google.com/github/manjotmb20/EC3/blob/master/magic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from numpy import linalg as LA
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import StandardScaler
import nltk
nltk.download("punkt")
# Warnings
import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [2]:
data=pd.read_csv('data.csv')
data.head()

   Unnamed: 0   fLength    fWidth   fSize  ...  fM3Trans   fAlpha     fDist  class
0           0   28.7967   16.0021  2.6449  ...   -8.2027  40.0920   81.8828      g
1           1   31.6036   11.7235  2.5185  ...   -9.9574   6.3609  205.2610      g
2           2  162.0520  136.0310  4.0612  ...  -45.2160  76.9600  256.7880      g
3           3   23.8172    9.5728  2.3385  ...   -7.1513  10.4490  116.7370      g
4           4   75.1362   30.9205  3.1611  ...   21.8393   4.6480  356.4620      g

[5 rows x 12 columns]

In [0]:
data= data.sample(frac=1).reset_index()

In [4]:
data.head(10)

   index  Unnamed: 0  fLength   fWidth  ...  fM3Trans   fAlpha     fDist  class
0   2464        2464  45.3746  23.9865  ...  -15.0227   1.1294  126.6710      g
1   9469        9469  18.3905  18.1715  ...   11.6801  60.2553   96.2171      g
2  12479       12479  25.2295  10.3237  ...   -9.9377  12.7764  107.4802      h
3  13101       13101  22.6971   9.2923  ...    8.8500  78.5135  163.2642      h
4   9443        9443  19.2408   9.3130  ...    9.3671  11.0601  182.2910      g
5  10820       10820  46.7412  22.3069  ...   18.3464   8.8499  225.9080      g
6   5886        5886  21.2198  11.2399  ...   -8.2765  53.7221  130.9350      g
7  14224       14224  78.4733  23.9205  ...   -9.0500  33.0782  297.3374      h
8   2208        2208  93.9291  32.9969  ...   11.4425   0.0340  338.2910      g
9   9728        9728  71.4686  24.0240  ...  -16.8204   2.7600  210.5890      g

[10 rows x 13 columns]

In [5]:
data['class'][data['class']=='g']=1
data['class'][data['class']=='h']=0
Y=pd.DataFrame(data['class'])
data.drop('class', inplace=True,axis=1)
data.drop('Unnamed: 0', inplace=True,axis=1)
data.drop('index', inplace=True,axis=1)
X=pd.DataFrame()
X=data
X.head()

   fLength   fWidth   fSize   fConc  ...  fM3Long  fM3Trans   fAlpha     fDist
0  45.3746  23.9865  3.1012  0.2131  ...  29.9800  -15.0227   1.1294  126.6710
1  18.3905  18.1715  2.3493  0.4922  ...  15.8702   11.6801  60.2553   96.2171
2  25.2295  10.3237  2.2902  0.5426  ...  26.8131   -9.9377  12.7764  107.4802
3  22.6971   9.2923  2.4245  0.5784  ...  24.0526    8.8500  78.5135  163.2642
4  19.2408   9.3130  2.2672  0.6486  ... -13.5375    9.3671  11.0601  182.2910

[5 rows x 10 columns]

In [6]:
Y

      class
0         1
1         1
2         0
3         0
4         1
...     ...
19015     0
19016     1
19017     1
19018     1
19019     0

[19020 rows x 1 columns]

In [7]:
sc=StandardScaler()
X=sc.fit_transform(X)
X

array([[-0.18590317,  0.09841795,  0.58440772, ..., -0.73330319,
        -1.01583624, -0.89853052],
       [-0.82286533, -0.21855224, -1.00662469, ...,  0.54882766,
         1.24926926, -1.30605056],
       [-0.66143011, -0.64632844, -1.13168123, ..., -0.4891477 ,
        -0.56964119, -1.15533295],
       ...,
       [-0.1593026 ,  0.79277616,  0.55668791, ..., -0.51734201,
        -0.32497138, -2.19658526],
       [-0.75494168, -0.83485348, -1.49415477, ...,  0.28994601,
        -0.56518193, -1.12637798],
       [-0.79216455, -0.54031922, -1.01085672, ...,  0.38285954,
         1.7530019 , -0.46934444]])

In [0]:
X_train=data
Y_train=Y['class']
Y_train=Y_train.astype('int')

In [9]:
type(Y_train)

pandas.core.series.Series

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
classifier3=DecisionTreeClassifier()
from sklearn.metrics import roc_auc_score,accuracy_score
x_train,x_val,y_train,y_val=train_test_split(X_train,Y_train,stratify=Y['class'],test_size=0.4,random_state=9)
classifier=LogisticRegression(C=5.0,random_state=0)
classifier.fit(x_train,y_train)
ypred=classifier.predict(x_val)
print("Accuracy score of LR",accuracy_score(y_val,ypred))
y_prob=classifier.predict_proba(x_val)
df=pd.DataFrame()
df['pred']=ypred
survived=pd.get_dummies(df.pred,prefix='Survived')
df=pd.concat([df,survived],axis=1)
df.drop('pred',inplace=True,axis=1)
df2=pd.DataFrame()
classifier3.fit(x_train,y_train)
ypred3=classifier3.predict(x_val)
print("Accuracy score of Decision Tree",accuracy_score(y_val,ypred3))
df2['pred']=ypred3
y_prob3=classifier3.predict_proba(x_val)
survived2=pd.get_dummies(df2.pred,prefix='Surviveds')
df=pd.concat([df,survived2],axis=1)
df

Accuracy score of LR 0.7799684542586751
Accuracy score of Decision Tree 0.8111198738170347

      Survived_0  Survived_1  Surviveds_0  Surviveds_1
0              0           1            0            1
1              0           1            0            1
2              1           0            1            0
3              0           1            0            1
4              0           1            0            1
...          ...         ...          ...          ...
7603           1           0            1            0
7604           0           1            0            1
7605           0           1            0            1
7606           0           1            1            0
7607           1           0            1            0

[7608 rows x 4 columns]

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Conv1D,MaxPooling1D,Dense,Flatten
classifier = Sequential()
classifier.add(Dense(output_dim = 3, init = 'uniform', activation = 'relu', input_dim = 10))
#Hidden layer
classifier.add(Dense(output_dim = 2, init = 'uniform', activation = 'relu'))
#output layer with 1 output neuron which will predict 1 or 0
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
classifier.fit(x_train, y_train, epochs=1000, verbose=0)
prediction = classifier.predict(x_val).tolist()
# list to series
se = pd.Series(prediction)
# creating new column of predictions in data_check dataframe
data_check=pd.Series()
data_check['check'] = se
data_check['check'] = data_check['check'].str.get(0)
series = []
for val in data_check.check:
    if val >= 0.5:
        series.append(1)
    else:
        series.append(0)
roc_auc_score(y_val,series)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

In [0]:
m=np.array(df)
s=np.zeros(shape=(m.shape[0],m.shape[0]))
for i in range(m.shape[0]):
  for j in range(m.shape[0]):
    if i!=j:
      sum1=0
      for k in range(2,m.shape[1]):
        sum1=sum1+(m[i][k]*m[j][k])
      s[i][j]=sum1
w=s
d=np.zeros(shape=w.shape[0])

In [0]:
for i in range(d.shape[0]):
  d[i]=np.sum(w[i],axis=0)
wnew=w/d.reshape(d.shape[0],1)
Km=wnew

In [0]:
Km

array([[0.        , 0.00122399, 0.        , ..., 0.        , 0.        ,
        0.00122399],
       [0.00122399, 0.        , 0.        , ..., 0.        , 0.        ,
        0.00122399],
       [0.        , 0.        , 0.        , ..., 0.00127877, 0.00127877,
        0.        ],
       ...,
       [0.        , 0.        , 0.00127877, ..., 0.        , 0.00127877,
        0.        ],
       [0.        , 0.        , 0.00127877, ..., 0.00127877, 0.        ,
        0.        ],
       [0.00122399, 0.00122399, 0.        , ..., 0.        , 0.        ,
        0.        ]])

**Checking whether the matrices have been normalized or not i.e making them bistochastic **

In [0]:
print(np.sum(Km,axis=1))
print(np.sum(Km,axis=0))

[1. 1. 1. ... 1. 1. 1.]
[1. 1. 1. ... 1. 1. 1.]

Similarly for Kc we generate a bistochastic matrix where m=the co-occurence matrix.

In [0]:

m=m.dot(m.T)  
s=np.zeros(shape=(m.shape[0],m.shape[0]))
for i in range(m.shape[0]):
  for j in range(m.shape[0]):
    if i!=j:
      sum1=0
      for k in range(2,m.shape[1]):
        sum1=sum1+(m[i][k]*m[j][k])
      s[i][j]=sum1

In [0]:
d=np.zeros(shape=w.shape[0])
w=s
for i in range(d.shape[0]):
  d[i]=np.sum(w[i],axis=0)
wnew=w/d.reshape(d.shape[0],1)  
Kc=wnew
Kc

array([[0.        , 0.00104128, 0.0001439 , ..., 0.0001439 , 0.0001439 ,
        0.00104128],
       [0.00104128, 0.        , 0.0001439 , ..., 0.0001439 , 0.0001439 ,
        0.00104128],
       [0.00018306, 0.00018306, 0.        , ..., 0.00113059, 0.00113059,
        0.00018306],
       ...,
       [0.00018306, 0.00018306, 0.00113059, ..., 0.        , 0.00113059,
        0.00018306],
       [0.00018306, 0.00018306, 0.00113059, ..., 0.00113059, 0.        ,
        0.00018306],
       [0.00104128, 0.00104128, 0.0001439 , ..., 0.0001439 , 0.0001439 ,
        0.        ]])

**Same, checking for bi-stochastic behaviour**

In [0]:
  np.sum(Kc,axis=1)

array([1., 1., 1., ..., 1., 1., 1.])

**Generating Fg and Fo i'e the Group class matrix and Object Class matrix**

In [0]:

objclass_mat1=pd.DataFrame(y_prob,columns=['Survived','NotSurvived'])
objclass_mat2=pd.DataFrame(y_prob3,columns=['Survived','NotSurvived'])
df_t=pd.DataFrame(objclass_mat1)
Fo=np.array(df_t)
gpclass_mat=pd.DataFrame(columns=['Survived','NotSurvived'],index=['class1surv','class1notsurv','class2surv','class2notsurv'])
prob1s=np.sum(objclass_mat1.Survived)/len(objclass_mat1)
prob1ns=np.sum(objclass_mat1.NotSurvived)/len(objclass_mat1)
prob2s=np.sum(objclass_mat2.Survived)/len(objclass_mat2)
prob2ns=np.sum(objclass_mat2.NotSurvived)/len(objclass_mat2)
list1=[]
list1.append(prob1s)
list1.append(prob1ns)
list1.append(prob2s)
list1.append(prob2ns)

list2=[]
list2.append(prob1ns)
list2.append(prob1s)
list2.append(prob2ns)
list2.append(prob2s)
gpclass_mat['Survived']=list1
gpclass_mat['NotSurvived']=list2
gpclass_mat
Fg=np.array(gpclass_mat)
Fg

array([[0.49993433, 0.50006567],
       [0.50006567, 0.49993433],
       [0.48906933, 0.51093067],
       [0.51093067, 0.48906933]])

**Similarly, generating  Yo and Yg**

In [0]:
n=2
C=survived.shape[1]
G=survived.shape[1]*n

Yo=np.zeros(shape=(df.shape[0],C))
cal_y=np.array(df)
for i in range(Yo.shape[0]):
  Yo[i][0]=(cal_y[i][0]+cal_y[i][2])/C
for i in range(Yo.shape[0]):
  Yo[i][1]=(cal_y[i][1]+cal_y[i][3])/C

In [0]:
G

4

In [0]:
m=np.array(df)
Yg=np.zeros(shape=(m.shape[1],2))
c=np.sum(m,axis=0)
for i in range(Yg.shape[0]):
  if i%2==0:
    Yg[i][0]=c[i]/m.shape[0]
    Yg[i][1]=1-Yg[i][0]
  else:
    Yg[i][1]=c[i]/m.shape[0]
    Yg[i][0]=1-Yg[i][1]  
Yg

array([[0.44097439, 0.55902561],
       [0.44097439, 0.55902561],
       [0.48906933, 0.51093067],
       [0.48906933, 0.51093067]])

Genearting

Checking for the conditions specified in eq 6

In [0]:
Fo_cond=True
Fg_cond=True
for i in range(Fo.shape[0]):
  if np.linalg.norm((Fo[i]), ord=1)!=1:
    Fo_cond=False
for i in range(Fg.shape[0]):
  if np.linalg.norm((Fg[i]), ord=1)!=1:
    Fo_cond=False    
print(Fo_cond)
print(Fg_cond)

True
True

**Generating diagonal matrices Dm and Dc**

In [0]:
test_dm=np.zeros(shape=(Km.shape))
test_Km=Km
for i in range(test_Km.shape[0]):
  test_dm[i]=np.sum(test_Km[i],axis=0)
Dm=np.diag(np.diag(test_dm))
print("Shape of DM",Dm.shape)
test_dc=np.zeros(shape=(Kc.shape))
test_Kc=Kc
for i in range(test_Kc.shape[0]):
  test_dc[i]=np.sum(test_Kc[i],axis=0)
Dc=np.diag(np.diag(test_dc))
print("shape of Dc",Dc.shape)

Shape of DM (1601, 1601)
shape of Dc (1601, 1601)

In [0]:
print("KHM",Km.shape)
print("KHC",Kc.shape)
print("Fo",Fo.shape)
print("Fg",Fg.shape)
print("Yo",Yo.shape)
print("Yg",Yg.shape)
print("Dm",Dm.shape)
print("Dc",Dc.shape)

KHM (1601, 1601)
KHC (1601, 1601)
Fo (1601, 2)
Fg (4, 2)
Yo (1601, 2)
Yg (4, 2)
Dm (1601, 1601)
Dc (1601, 1601)

In [0]:

Yg=np.pad(Yg,pad_width=[(0, Km.shape[0]-G), (0, 0)])
Yg.shape

(1601, 2)

In [0]:
print("KHM",Km.shape)
print("KHC",Kc.shape)
print("Fo",Fo.shape)
print("Fg",Fg.shape)
print("Yo",Yo.shape)
print("Yg",Yg.shape)
print("Dm",Dm.shape)
print("Dc",Dc.shape)

KHM (1601, 1601)
KHC (1601, 1601)
Fo (1601, 2)
Fg (4, 2)
Yo (1601, 2)
Yg (1601, 2)
Dm (1601, 1601)
Dc (1601, 1601)

In [0]:
import sys
threshold=sys.float_info.epsilon

**Implementing algorithm 2**

In [0]:
alpha=0.15
beta=0.35
gamma=0.40
delta=0.10
Fo_t=np.zeros(shape=Fo.shape)
Fg_t=np.zeros(shape=Fg.shape)
Fot_old=np.zeros(shape=Fo.shape)
Fo_t=Fo
Fg_t=Fg
while LA.norm((Fo_t-Fot_old),'fro')>threshold:
  Fot_old=Fo_t
  Fg_t=np.matmul((np.linalg.inv(2*delta*np.ones(shape=Dm.shape)+(alpha*Dm))),((alpha*np.matmul(Km,Fo_t))+(2*delta*Yg)))
  Fo_t=np.matmul((np.linalg.inv((alpha*Dm)+(2*beta*Dc)-(beta*np.matmul(np.identity(Kc.shape[0]),Kc))-(beta*np.matmul(np.ones(shape=Kc.shape),Kc))+(2*gamma*np.identity(Kc.shape[0])))),((alpha*np.matmul(Km,Fg_t))+(2*gamma*Yo)))

In [0]:
from sklearn.metrics import accuracy_score
result=np.zeros(shape=Fo_t.shape[0])
for i in range(Fo_t.shape[0]):
  if Fo_t[i][0]<Fo_t[i][1]:
    result[i]=1
print("Accuracy value for Ensemble model",accuracy_score(y_val,result))
print("AUC for for Ensemble model",roc_auc_score(y_val,result))
print("Accuracy value for LR",accuracy_score(y_val,ypred))
print("AUC for for LR",roc_auc_score(y_val,ypred))

Accuracy value for Ensemble model 0.778263585259213
AUC for for Ensemble model 0.7782045880149813
Accuracy value for LR 0.7607745159275453
AUC for for LR 0.7608114856429462

**We see that the ensemble model performs better than the Random forest, Kneigbours and Svm models and is at par with the Logistic regression model that gives us the best accuracy. **